<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <nav class="bg-primary text-white d-flex justify-content-between p-1">
    <div class="fs-1">
      <a href="<%= root_path %>" class="text-white">
        <i class="bi bi-arrow-left-short"></i>
      </a>
    </div>
    <h5 class="d-flex justify-content-center align-items-center mb-0">REGISTER</h5>
    <%= f.submit "Next", class: "btn btn-link text-decoration-none text-white" %>
  </nav>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mt-3">
    <%= f.text_field :name, autofocus: true, placeholder: "Full name", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: "form-control" %>
  </div>
<% end %>
