<div class="card mb-3">
  <div class="row g-0">
    <div class="col-4 d-flex justify-content-center" style="padding: 10px;">
      <span class="d-flex align-items-center w-100 justify-content-center">
        <img class="w-100" src="<%= category.icon %>" alt="<%= category.name %>" />
      </span>
    </div>
    <div class="col-8">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title text-secondary"><%= category.name %></h5>
          <% if request.path == user_categories_path %>
            <p class="fw-bold">$<%= format('%.2f', category.expenses.sum(:amount)) %></p>
          <% end %>
        </div>
        <p class="card-text">
          <small class="text-body-secondary">
            <%= category.updated_at.strftime('%d %b %Y') %>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
